<% yield p = np %>
<% version.record&.reload %>

<li class="mb-10 pl-4 relative">
  <div class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 top-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"><%= display_date_and_time version.created_at %></time>
  <h3 class="text-lg font-semibold text-gray-900 dark:text-gray-200">
    <% if p.content_for? :header %>
      <%= p.content_for :header %>
    <% else %>
      <%= [version.user&.label_string, t("activity/versions.events.#{version.event}.past_tense")].join(" ") %>
      the
      <%= t("#{version.record_type.underscore.pluralize}.label").singularize %>

      <%# if the item has been destroyed, we use the last recorded version to show consistent names for the item across its history %>
      <% if version.record %>
        <%= link_to version.record.name, [:account, version.record] %>
      <% else %>
        <%= version.latest.reify&.label_string %>
      <% end %>

      <%# TODO: Fix subtle name check bug when the item is a join table model, like ActionText::RichText %>
      <% record_name = (version.record || version.latest.reify)&.label_string %>
      <% if version.record && record_name != version.record&.label_string %>
        <small>(now called <%= version.record.name %>)</small>
      <% end %>
    <% end %>
  </h3>
  <div class="space-y-1">
    <%= p.content_for :body %>
  </div>
</li>
