<% if false && after.send(method) != before.send(method) %>
  <div class="pl-4">
    <div class="form-group">
      <label class="col-form-label"><%= t("#{locale_namespace(before)}.fields.#{method}.label") %></label>
      <div class="text-muted">

        <% if before.send(method).present? %>
          <%= before.send(method) %>
        <% else %>
          <i>Empty</i>
        <% end %>

        <span class="activity-arrow"></span>

        <% if after.send(method).present? %>
          <%= after.send(method) %>
        <% else %>
          <i>Empty</i>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
<div>
  <% if before.send(method) != after.send(method) %>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"><%= method %> was changed from <code><%= before.send(method) %></code> to <code><%= after.send(method) %></code></p>
  <% end %>
</div>
